alabaster==0.7.13
alembic==1.13.1
amqp==5.1.1
annotated-types==0.5.0
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.3
arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
asttokens==2.2.1
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==23.1.0
Automat==22.10.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
billiard==4.1.0
blinker==1.7.0
Brotli==1.0.9
bs4==0.0.1
build==1.2.1
bytecode==0.14.2
cached-property==1.5.2
cairocffi==1.6.1
CairoSVG==2.7.0
cattrs==23.1.2
celery==5.3.1
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.33.0
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
coverage==7.2.7
crispy-bootstrap4==2022.1
cron_descriptor==1.4.0
cryptography==41.0.3
cssselect2==0.7.0
ddsketch==2.0.4
ddtrace==1.22.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diff-match-patch==20230430
distlib==0.3.8
dj-database-url==2.0.0
dj-email-url==1.0.6
dj-rest-auth==2.1.11
Django==3.2.18
django-admin-rangefilter==0.10.0
django-allauth==0.54.0
django-annoying==0.10.6
django-anymail==10.1
django-appconf==1.0.5
django-autocomplete-light==3.9.7
django-bootstrap-datepicker-plus==5.0.4
django-bootstrap3==23.4
django-browser-reload==1.12.1
django-cache-url==3.4.4
django-celery-beat==2.5.0
django-ckeditor==6.7.0
django-compressor==4.4
django-cors-headers==4.2.0
django-coverage-plugin==3.1.0
django-crispy-forms==2.0
django-dirtyfields==1.9.2
django-discover-runner==1.0
django-easy-audit==1.3.5
django-environ==0.10.0
django-extensions==3.2.3
django-filter==23.2
django-formtools==2.4.1
django-import-export==3.2.0
django-js-asset==2.1.0
django-jsonstore==0.5.1
django-material==1.12.0
django-mathfilters==1.0.0
django-model-utils==4.3.1
django-mptt==0.14.0
django-notifications-hq==1.8.2
django-oauth-toolkit==2.3.0
django-otp==1.2.2
django-parsley==0.7
django-redis==5.3.0
django-rest-swagger==2.2.0
django-revproxy==0.12.0
django-role-permissions==3.2.0
django-session-security==2.6.7
django-session-timeout==0.1.0
django-simple-history==3.3.0
django-tables2==2.6.0
django-templated-mail==1.1.1
django-tenants==3.5.0
django-timezone-field==5.1
django-viewflow==2.0.0b6
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
djangorestframework-api-key==2.3.0
djangorestframework-jwt==1.11.0
djangorestframework-recursive==0.1.2
djangorestframework-simplejwt==4.6.0
djoser==2.1.0
docopt==0.6.2
docutils==0.18.1
drf-nested-routers==0.93.4
drf-spectacular==0.21.2
drf-yasg==1.21.7
envier==0.4.0
environs==9.5.0
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing==1.2.0
factory-boy==3.3.0
Faker==19.2.0
filelock==3.15.4
fire==0.6.0
fiscalyear==0.4.0
Flask==3.0.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
flower==2.0.0
fonttools==4.41.1
future==0.18.3
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
humanize==4.7.0
hyperlink==21.0.0
identify==2.6.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.21.0
ipython-genutils==0.2.0
isodate==0.6.1
itypes==1.2.0
jdcal==1.4.1
jedi==0.19.0
jeepney==0.8.0
Jinja2==3.1.2
jsonfield==3.1.0
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jwcrypto==1.5.0
kafka-python==2.0.2
kombu==5.3.1
lxml
markdown-it-py==3.0.0
MarkupPy==1.14
MarkupSafe==2.1.3
marshmallow==3.19.0
material==0.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mock==5.1.0
more-itertools==10.0.0
msgpack-python==0.5.6
newrelic==8.9.0
ngrok==1.4.0
nodeenv==1.9.1
num2words==0.5.12
numpy
oauthlib==3.2.2
odfpy==1.4.1
openapi-codec==1.3.2
openpyxl==3.1.2
opentelemetry-api==1.19.0
oscrypto==1.3.0
packaging==23.1
pdf2image==1.17.0
pdfrw==0.4
pexpect==4.8.0
phonenumbers==8.13.17
pickleshare==0.7.5
Pillow
pip-tools==7.4.1
platformdirs==3.10.0
pluggy==1.2.0
pre-commit==3.8.0
prometheus-client==0.17.1
prompt_toolkit==3.0.47
protobuf==4.23.4
psycopg2-binary
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.1.1
pydantic_core==2.4.0
pydyf==0.7.0
Pygments==2.15.1
PyHamcrest==2.0.4
pyHanko==0.20.0
pyhanko-certvalidator==0.23.0
PyJWT==1.7.1
pyparsing==3.1.1
pypdf==3.14.0
PyPDF2==3.0.1
pyphen==0.14.0
pypng==0.20220715.0
pyproject_hooks==1.1.0
pyrsistent==0.19.3
pytelegraf==0.3.3
pytest==7.4.0
pytest-django==4.5.2
pytest-sugar==0.9.7
python-bidi==0.4.2
python-crontab==3.0.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-memcached==1.59
python3-openid==3.2.0
pytz==2023.3
PyYAML==6.0.1
pyzipper==0.3.6
qrcode==7.4.2
rav==0.0.9
raven==6.10.0
rcssmin==1.1.1
redis==5.0.1
referencing==0.30.0
reportlab
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.7.1
rjsmin==1.2.1
rpds-py==0.9.2
ruamel.yaml
ruamel.yaml.clib
ruff==0.2.2
script-utils==0.21
SecretStorage==3.3.3
sentry-sdk==1.29.2
setproctitle==1.3.2
simplegeneric==0.8.1
simplejson==3.19.1
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
social-auth-app-django==4.0.0
social-auth-core==4.0.2
soupsieve==2.4.1
Sphinx==6.2.1
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
SQLAlchemy==2.0.27
sqlparse==0.4.4
stack-data==0.6.2
svglib==1.5.1
swapper==1.3.0
tablib==3.5.0
termcolor==2.3.0
text-unidecode==1.3
tinycss2==1.2.1
tomli==2.0.1
tornado==6.3.2
traitlets==5.9.0
Twisted==22.10.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
unicodecsv==0.14.1
uritemplate==4.1.1
uritools==4.0.1
urllib3==1.26.16
vine==5.0.0
virtualenv==20.26.3
wcwidth==0.2.6
WeasyPrint==0.42.3
webencodings==0.5.1
Werkzeug
whitenoise==6.5.0
wrapt==1.15.0
xhtml2pdf==0.2.11
xlrd==2.0.1
xlwt==1.3.0
xmltodict==0.13.0
zeep==4.2.1
zipp==3.16.2
zope.interface==6.0
zopfli==0.2.2
